<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/images/icons8-sent-16.png">
    <meta charset="UTF-8">
    <title>Anonymous Chat</title>
</head>
<body>

    <div id="all">
        <div id="chat-header">
            <img src="../static/images/icons8-sent-64.png">
            <h2>چت ناشناس</h2>
        </div>
        <div id="messages"></div>
        <div id="input-row">
            <textarea id="msgInput" name="msg" placeholder="پیام خود را بنویسید ..."></textarea>
            <button onclick="sendMsg()"><img src="../static/images/icons8-sent-64.png" alt="Send"></button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <script>
        const socket = io()

        let myName = null

        socket.on('your_name', (name) => {
            myName = name
            console.log('👤 My Name:', myName)
        })

        socket.on('history', (messages) => {
            const messagesBox = document.getElementById('messages')
            messages.forEach((msg) => {
                addMessage(msg.text, msg.time, msg.user_id)
            })
            messagesBox.scrollTop = messagesBox.scrollHeight
        })

        socket.on('msg', (data) => {
            addMessage(data.text, data.time, data.user_id)
        })

        function addMessage(text, time, senderName) {
            const messagesBox = document.getElementById('messages')

            const p = document.createElement('p')
            p.classList.add('message')

            if (senderName === myName) {
                p.classList.add('my-message')
            } else {
                p.classList.add('other-message')
            }

            const nameSpan = document.createElement('span')
            nameSpan.classList.add('name')
            nameSpan.textContent = senderName

            const textSpan = document.createElement('span')
            textSpan.textContent = text

            const timeSpan = document.createElement('span')
            timeSpan.classList.add('time')
            timeSpan.textContent = time

            p.appendChild(nameSpan)
            p.appendChild(textSpan)
            p.appendChild(timeSpan)
            messagesBox.appendChild(p)
            messagesBox.scrollTop = messagesBox.scrollHeight
        }

        function sendMsg() {
            const input = document.getElementById('msgInput')
            const message = input.value.trim()

            if (message === "") return

            socket.emit('msg', message)
            input.value = ''
            input.focus()
        }
    </script>

</body>
</html>